.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 90vw;
  border-radius: 8px;
  // background-color: rgb(43, 39, 3);
  gap: 4px;
}
