.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 15vh;
  min-height: 10vh;
  padding: 0 20px;
  background-color: #361919;

  h1 {
    color: #fca311;
    margin-left: 15px;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    button {
      margin: 10px;
      color: #fca311;
      text-decoration: none;
      border: none;
      background-color: inherit;
      cursor: pointer;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}
