.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 165px;
  height: 250px;
  background-color: #915a01;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 140px;
    margin-top: 5px;
    border-radius: 8px;
  }

  h3 {
    height: 20px;
    margin: 5px 0 0 0;
    text-align: center;
  }
}
